@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Poppins:wght@200;300;600;700;800;900&family=Roboto&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #000000;
  --Tertiary-color: #F1F2FB;
  --white-color: #ffffff;
  --black-color: #ffffff;
  --text-color: #ffffff;

  --poppins: 'poppins',sans-serif;
  --Manrope: 'Manrope', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --Space-Grotest: 'Space Grotesk', sans-serif;

}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.Nav-Bar {
  background-color: #000000;
  width: 100%;
  height: 80px;
}

.Nav-logo-div {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* height: 70px; */
}

.Nav-logo {
  display: inline-block;
  width: 250px;
}

.Nav-ul {
    margin: auto;
  float: right;
  margin-right: 20px;
  font-family: var(--poppins);
  font-size: 18px;
  margin-top: 0;
  transition: all 0.3s;
}
.Nav-ul a:hover{
  color: #5a5a5a;
}

.Nav-li {
  list-style: none;

  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
}

.Nav-a {
  text-decoration: none;
  color: #ffffff;
  font-size: 21px;
  padding: 5px 10px;
  cursor: pointer;
}

.HamBurger {
  display: none;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.Nav-Bar-Line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: #ffffff;
}

@media (max-width:995px) {

  .Nav-a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    padding: 5px 5px;
  }

  .Nav-li {
    list-style: none;
  
    display: inline-block;
    line-height: 70px;
    margin: 0 3px;
   
    font-size: 16px;
    font-weight: 400;
  }

  .Nav-logo-div {
    float: left;
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Nav-logo {
    display: inline-block;
    width: 140px;
  }

}

@media (max-width:768px) {

  .h-tags {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--poppins);
  }

  .Nav-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 350px;
    height: 70px;
  }

  .Nav-logo {
    display: inline;
    width: 250px;
  }

  .HamBurger {
      display: block;
  }

  .HamBurger.Active .Nav-Bar-Line:nth-child(2) {
      opacity: 0;
  }

  .HamBurger.Active .Nav-Bar-Line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .HamBurger.Active .Nav-Bar-Line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .Nav-ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      margin-top: 0;
      margin-bottom: 0;
      background-color: var(--primary-color);
      top: 70px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }

  .Nav-li {
      list-style: none;

      display: block;
      line-height: 30px;
      margin: 50px 0;
      padding: 0;

      font-family: var(--poppins);
      font-size: 18px;
      font-weight: 400;
  }

  .Nav-a {
      text-decoration: none;
      color: var(--black-color);
      font-size: 24px;
      padding: 5px 10px;
  }

  .Nav-ul,
  .Nav-a:hover {
      color: var(--secondary-color);
      font-size: 24px;
  }

  .Nav-ul.Active {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      top: 70px;
      left: 0;
      text-align: center;
      transition: all .5s;
  }

}

@media (max-width:426px) {

  .h-tags {
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins);
  }


  .Nav-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 150px;
    height: 70px;
    margin-left: 5px;
}

  .Nav-logo {
    display: inline;
    width: 150px;
  }
}

.Act {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0, 0.1);
  z-index: 9999;
}


.header-logo {
  width: 9em;
  height: auto;
}

